IndentWidth: 4
AccessModifierOffset: -4
SortIncludes: true
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
IncludeBlocks: Regroup
QualifierAlignment: Right
IncludeCategories:
  - Regex: '^\"'
    Priority: 1
    SortPriority: 1
  - Regex: '^<'
    Priority: 2
    SortPriority: 2
